doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/jumbotron-narrow.css')
    link(rel='stylesheet', href='/css/jquery.growl.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src="http://cdn.auth0.com/js/lock/11.0.0-beta.1/lock.min.js")
    script(src="https://cdn.auth0.com/js/auth0/9.0.0-beta.1/auth0.min.js")
    script(src="http://code.jquery.com/jquery.js")
    script(src="/js/jquery.growl.js")
  body
    block content
